<!DOCTYPE html>
<html>
<head>
	<title>New Product</title>
	<style type="text/css">
		input{
			display: inline-block;
		}
		#create{
			display: block;
		}
	</style>
</head>
<body>
	<h2>Add a new product</h2>
	<form action="/products/create" method="POST">
		<div>Name</div>
		<input type="text" name="name">
		<div>Description</div>
		<input type="text" name="description">
		<div>Price</div>
		<input type="text" name="price">
		<input id="create" type="submit" value="Create">
	</form>
</body>
</html>