<div class="form-group">
	<label for="exampleInputEmail1">Email address</label>
	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
</div>
<div class="form-group">
	<label for="exampleInputEmail1">First Name</label>
	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name" name="first_name">
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Last Name</label>
	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name" name="last_name">
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Password</label>
	<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" name="password">
</div>
<div class="form-group">
	<label for="exampleInputPassword1">Password Confirmation</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation" name="password_confirmation">
</div>