
<div class="form-group">
	<label for="email">Email address</label>
	<input type="email" class="form-control" id="email" placeholder="Email" name="email">
	{% with messages = get_flashed_messages(category_filter=['email']) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
</div>
<div class="form-group">
	<label for="firstName">First Name</label>
	<input type="email" class="form-control" id="firstName" placeholder="First Name" name="first_name">
	{% with messages = get_flashed_messages(category_filter=['first_name']) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
</div>
<div class="form-group">
	<label for="lastName">Last Name</label>
	<input type="email" class="form-control" id="lastName" placeholder="Last Name" name="last_name">
	{% with messages = get_flashed_messages(category_filter=['last_name']) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
</div>
<div class="form-group">
	<label for="password">Password</label>
	<input type="password" class="form-control" id="password" placeholder="Password" name="password">
	{% with messages = get_flashed_messages(category_filter=['password']) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
</div>
<div class="form-group">
	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" class="form-control" id="password_confirmation" placeholder="Password Confirmation" name="password_confirmation">
</div>