{% include "/users/_head.html" %}
  <title>Admin Show</title>
  <style type="text/css">
    form{
      display: inline-block;
    }
    h2{
      display: inline-block;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $("input").click(function(){
        alert('Are you sure to delete?');
      })
    })
  </script>
</head>
<body>
  {% include "/users/_admin_show.html" %}
  <h2>Manage Users</h2>
  <a class="btn btn-success" href="/users/new" role="button">Add a new user</a>
  <table class="table table-hover">
    <tr>
      <th>ID:</th>
      <th>Name^</th>
      <th>email</th>
      <th>created_at</th>
      <th>user_level</th>
      <th>Action</th>
    </tr>
    {% for i in users %}
    <tr>
      <td>{{ i['id'] }}</td>
      <td>{{ i['first_name'] }} {{ i['last_name'] }}</td>
      <td>{{ i['email'] }}</td>
      <td>{{ i['created_at'] }}</td>
      <td>{{ i['level'] }}</td>
      <td>
        <a href="/users/edit/{{ i['id'] }}"><button>Edit</button></a>
        <form action="/users/delete/{{ i['id'] }}" method="POST">
          <input type="submit" value="remove" id="remove">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>


</body>
</html>