<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.col-md-12{
			background-color: gray;
		}
		/*.col-md-4:first-child div{
			font-weight: bold;
		}*/
	</style>

  </head>
  <body>
  	<div>
  		<a class="btn btn-default" href="" role="button">Test App</a>
  		<a class="btn btn-default" href="#" role="button">Home</a>
  		<a class="btn btn-default" href="#" role="button">Sign in</a>
  	</div>
    <div class="col-md-12">
    	Welcome to the Test
    	We're going to build a cool application using a MVC framework! This application was built with the Billage88 folks!
    	<a href="/signin"><button type="button" class="btn btn-primary">Start</button>
    	</a>
    </div>
    <div class="row">
		<div class="col-md-4">
			<div>Manage Users</div>
			<div>Using this application, you'll learn how to add, remove, and edit users forthe application.</div>
		</div>
		<div class="col-md-4">
			<div>Leave messages</div>
			<div>Users will be able to leave a message to another user using this applicatin.</div>
		</div>
		<div class="col-md-4">
			<div>Edit User Information</div>
			<div>Admins will be able to edit another user's information (email address, first name, last name, etc)</div>
		</div>
	</div>


  </body>
</html>
