{% include "users/_head.html" %}
<style type="text/css">
	button{
		margin: 20px;
	}
</style>
</head>
<body>
    <div class="col-md-12">
    	Welcome to the Test
    	We're going to build a cool application using a MVC framework! This application was built with the Billage88 folks!
    </div>
    <a href="/signin"><button type="button" class="btn btn-primary">Start</button>
    </a>
    <div class="row">
		<div class="col-md-4">
			<h3>Manage Users</h3>
			<div>Using this application, you'll learn how to add, remove, and edit users forthe application.</div>
		</div>
		<div class="col-md-4">
			<h3>Leave messages</h3>
			<div>Users will be able to leave a message to another user using this applicatin.</div>
		</div>
		<div class="col-md-4">
			<h3>Edit User Information</h3>
			<div>Admins will be able to edit another user's information (email address, first name, last name, etc)</div>
		</div>
	</div>
</body>
</html>
