{% include "/users/_head.html"%}
	<title>Test App</title>
	<style type="text/css">
		.comment_box{
			border: 2px solid black;
			margin-left: 30px;
		}
		.message_box{
			border: 2px solid black;
		}
		.title{
			display: inline-block;
			width: 100px;
		}
	</style>
</head>
<body>
	{% if user['level'] == 'admin' %}
		{% include "/users/_admin_show.html" %}
	{% else %}
		{% include "/users/_user_show.html" %}
	{% endif %}

	{{user}}
	
	<h2>{{user['first_name']}}</h2>
	<div><div class="title">Registered at:</div>{{user['created_at']}}</div>
	<div><div class="title">User Id:</div>{{user['id']}}</div>
	<div><div class="title">Email:</div>{{user['email']}}</div>
	<div><div class="title">Description:</div>{{user['description']}}</div>

	<h2>Leave a message for {{ user['first_name'] }}</h2>
	<form action="/messages/add/{{ user['id'] }}" method="post">
	  <div class="form-group">
	    <input type="email" class="form-control" id="exampleInputEmail1" name="message">
	  </div>
	  <button type="submit" class="btn btn-success">Post</button>
	</form>
	{% for message in messages %}
	<div>
		<div class="message_box">{{message}}</div>
		{% for comment in comments %}
			{% if comment['message_id'] == message['id'] %}
				<dir>{{ comment['first_name'] }} wrote:</dir>
				<div class="comment_box">{{ comment['comment'] }}</div>
			{% endif %}
		{% endfor %}
		<form action="/comments/add/{{ message['id'] }}" method="post">
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" name="comment" placeholder="Leave some comments here">
		  </div>
		  <button type="submit" class="btn btn-success">Post</button>
		</form>
	</div>
	{% endfor %}
</body>
</html>