{% include "/users/_head.html" %}
	<title>User Show</title>
</head>
<body>
	{% include "/users/_user_show.html" %}
  	<h2>All Users</h2>
	<table class="table table-hover">
		<tr>
			<th>ID:</th>
			<th>Name</th>
			<th>email</th>
			<th>created_at</th>
			<th>user_level</th>
			<th>Status</th>
		</tr>
		{% for i in users %}
		<tr>
			<td>{{ i['id'] }}</td>
			<td><a href="/users/show/{{ i['id'] }}">{{ i['first_name'] }} {{ i['last_name'] }}</a></td>
      		<td>{{ i['email'] }}</td>
			<td>{{ i['created_at'] }}</td>
			<td>{{ i['level'] }}</td>
			<td>
				{% if i['user_id'] == session['id'] %}
					<div>Request Sent</div>
				{% elif i['friend_id'] == session['id'] %}
					<div>Accept/Delete</div>
				{% else %}
					<form action="/add_friend/{{ i['id'] }}" method="post">
						<input type="submit" value="Add Friend">
					</form>
				{% endif %}
		
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>