{% include "/users/_head.html" %}
	<title>User Show</title>
	<style type="text/css">
		form{
			display: inline-block;
		}
	</style>
</head>
<body>
	{% include "/users/_user_show.html" %}
  	<h2>All Users</h2>
	<table class="table table-hover">
		<tr>
			<th>ID:</th>
			<th>Name</th>
			<th>Email</th>
			<th>Created_at</th>
			<th>User_level</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		{% for i in users %}
		<tr>
			<td>{{ i['id'] }}</td>
			<td><a href="/users/show/{{ i['id'] }}">{{ i['first_name'] }} {{ i['last_name'] }}</a></td>
      		<td>{{ i['email'] }}</td>
			<td>{{ i['created_at'] }}</td>
			<td>{{ i['level'] }}</td>
			<td>
				{% if i['id'] == session['id'] %}
					<div>Self</div>
				{% elif i['user_id'] == session['id'] and (i['status_2'] == 'pending' or i['status_3'] == 'pending') %}
					<div>Request Sent</div>
				{% elif i['friend_id'] == session['id'] and (i['status_2'] == 'pending' or i['status_3'] == 'pending') %}
					<div>
						<form action="/confirm_friend/{{ i['id'] }}" method="post">
							<input type="submit" value="Accept">
						</form>
						<form action="/delete_friend/{{ i['id'] }}" method="post">
							<input type="submit" value="Cancel">
						</form>
					</div>
				{% elif i['status_2'] == 'friend' or i['status_3'] == 'friend' %}
					<div>Friend</div>
				{% else %}
					<form action="/add_friend/{{ i['id'] }}" method="post">
						<input type="submit" value="Add Friend">
					</form>
				{% endif %}
			</td>
			<td>
				<form action="/message_friend/{{ i['id'] }}">
					<input type="submit" value="Send message">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>