{% include "/users/_head.html" %}
	<title>User Edit</title>
	<style type="text/css">
		.form-1{
			width: 400px;
			display: inline-block;
			margin-right: 200px;
		}
		.form-2{
			width: 400px;
			display: inline-block;
			vertical-align: top;
		}
		.form-3{
			width: 1000px;
		}
	</style>
</head>
<body>
	<div>
	    <a class="btn btn-default" href="/users/show/{{ session['id'] }}" role="button">Test App</a>
	    {% if user['level'] == 'admin' %}
	    	<a class="btn btn-default" href="/dashboard/admin" role="button">Home</a>
	    {% elif user['level'] == 'normal' %}
	    	<a class="btn btn-default" href="/dashboard" role="button">Home</a>
	    {% endif %}
	    <a class="btn btn-default" href="/users/edit" role="button">Profile</a>
	    <a class="btn btn-default" href="/logout" role="button">Logout</a>
	</div>
	
  	<h2>Edit Profile</h2>
  	<form class="form-1" action="/users/update1" method="post">
	  <div class="form-group">
	    <label >Email address</label>
	    <input type="email" class="form-control" placeholder="Email" name="email" value="{{ user['email'] }}">
	  </div>
	  <div class="form-group">
	    <label >First Name</label>
	    <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ user['first_name'] }}">
	  </div>
	   <div class="form-group">
	    <label >Last Name</label>
	    <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ user['last_name'] }}">
	  </div>

	  <button type="submit" class="btn btn-success">Save</button>
	</form>
	<!-- end form 1 -->

	<form class="form-2" action="/users/update2" method="post">
	  <div class="form-group">
	    <label >Password</label>
	    <input type="password" class="form-control" placeholder="Password" name="password">
	  </div>
	  <div class="form-group">
	    <label >Password Confirmation</label>
	    <input type="password" class="form-control" placeholder="Password Confirmation" name="password_confirmation">
	  </div>
	  <button type="submit" class="btn btn-success">Update Password</button>
	</form>
	<!-- end form 2 -->

	<form action="/users/update3" method="post">
	  <div class="form-group">
	    <label >Edit Description</label>
	    <input type="text" class="form-control" name="description">
	  </div>
	  <button type="submit" class="btn btn-success">Save</button>
	</form>
</body>
</html>