<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <style type="text/css">
    	h3{
    		width: 300px;
    		
    		border: 2px solid black;
    		margin: 0 auto;
    		text-align: center;
    	}
    	.box{
    		border: 2px solid black;
    		margin: 20px auto;
    		width: 400px;
    		text-align: center;
    	}
    </style>
  </head>
  <body>
    The best place to start is the "WelcomeController.py" file in app/controllers.

    <h3>Current time and date:</h3>
    <div class="box">
    	<div>{{time[0]}}</div>
    	<div>{{time[1]}}</div>
    </div>
  </body>
</html>
