{% include "_head.html" %}
<style type="text/css">
	li{
		list-style: none;
	}
	.top{
		margin-top: 20px;
	}

</style>
	<title>Book Show</title>
{% include "_nav.html" %}
	<div class="row">
	  <h3 class="col-xs-4 col-md-8">Welcome {{ user['name'] }}</h3>
	  <div class="col-xs-4 col-md-2 top"><a href="/books/add">Add Book and Review</a></div>
	  <div class="col-xs-4 col-md-2 top"><a href="/logout">Logout</a></div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3>Recent Book Reviews:</h3>
			{% for i in books %}
			<ul>	
				<h3>{{ i['title'] }}</h3>
				<li><a href="/users/{{ i['user_id'] }}">{{ i['name'] }}</a> say: {{ i['review'] }}</li>
				<li>Rating: {{ i['rating'] }}</li>
				<li>Posted on: {{ i['created_at'] }}</li>
			</ul>
			{% endfor %}
		</div>
		<div class="col-xs-6">
			<h3>Other Books with Reviews:</h3>
			{% for i in all_books %}
			<ul>
				<li><a href="/books/{{ i['id'] }}">{{ i['title'] }}</a></li>
			</ul>
			{% endfor %}
		</div>
	</div>	
	
{% include '_end.html' %}