{% include "_head.html" %}
<style type="text/css">
	.top{
		margin-top: 20px;
	}
</style>

	<title>Show one Book</title>

{% include "_nav.html" %}

	<div class="row">
	  <h3 class="col-xs-4 col-md-10"></h3>
	  <div class="col-xs-4 col-md-1 top"><a href="/books/add">Home</a></div>
	  <div class="col-xs-4 col-md-1 top"><a href="">Logout</a></div>
	</div>

	<div class="row">
		<h2 class="col-xs-12 col-md-8">{{ book['title'] }}</h2>
	</div>

	<div class="row">
		<h4 class="col-xs-12 col-md-8">Author: {{ book['author'] }}</h4>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<h2>Reviews:</h2>
			{{ reviews }}

			{% for i in reviews: %}
				<div><a href="/users/{{ i['user_id'] }}">{{i['name']}}</a>say: {{i['review']}}</div>
				<div>Posted on {{i['created_at']}}</div>
			{% endfor %}
		</div>
		<div class="col-xs-6">
			<h3 class="col-sm-12 control-label">Add a review:</h3>

		    <form action="/insert_book/temp" method="post">
		    	<div class="col-sm-12">
			    	<input type="text" class="form-control" placeholder="add a review" name="review">
			    </div>
		    	<input type="hidden" name="title" value="{{ book['title'] }}">
		    	<input type="hidden" name="new_author" value="{{ book['author'] }}">
		    	<input type="hidden" name="author_list" value="{{ book['author'] }}">
		    	<h4 class="col-sm-4">Rating
					<select name="rating">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					stars.
				</h4>
				<div class="col-sm-12">
			    	<input type="submit" value="Submit Review">
			    </div>
		    </form>
		</div>
	</div>
</body>
</html>